html {
    overflow-y: hidden !important;
}

body {
    background-color: #F1E5C9 !important;

}

.sbr-container {
    position: relative;
}

.sbr-page {
    word-wrap: break-word;
    padding-bottom: 4rem;
}

.sbr-title {
    font-size: 4.5rem;
    font-weight: bold;
}

.sbr-author {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: darkblue;
}

.sbr-standfirst {
    font-size: 2rem;
    color: dimgray;
    font-style: italic;
}

.sbr-figure figcaption {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    color: gray;
}

.sbr-content {
    font-size: 2.6rem;
}

.sbr-pagination {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    opacity: 0.6;
    box-shadow: -2px 0 4px;
}

.sbr-pagination select {
    background-color: rgba(0, 0, 0, 0.6);
}

.sbr-pagination * {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", serif;
}

.sbr-dict-pop .line1 .word {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.sbr-dict-pop .line1 .detail {
    color: lightblue;
    float: right;
}

.sbr-dict-pop .line1 .audio-btn {
    color: lightgray;
    cursor: pointer;
    margin-right: 15px;
}

.sbr-dict-pop .line1 .audio-btn:hover {
    color: white;
}

.sbr-dict-pop .line2 {
    font-size: 1.5rem;
    color: lightgray;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", serif;
    max-height: 1000px;

}

.sbr-dict-pop {
    overflow-y: auto;
}

@media screen and (max-width: 767px) {
    .sbr-container {
        margin: 0 1.5rem;
    }

    .sbr-pagination select {
        margin: 0 5rem;
    }

    .sbr-figure {
        margin: 1.5rem 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .sbr-container {
        margin: 0 3rem;
    }

    .sbr-pagination select {
        margin: 0 10rem;
    }

    .sbr-figure {
        margin: 1.5rem 0;
        max-width: 75%;
    }
}

@media screen and (min-width: 1281px) {
    .sbr-container {
        margin: 0 20rem;
    }

    .sbr-title {
        font-size: 3.5rem;
    }

    .sbr-pagination select {
        margin: 0 15rem;
    }

    .sbr-figure {
        margin: 1.8rem 0;
        max-width: 75%;
        word-wrap: break-word;
    }

    .sbr-pagination {
        height: 4rem;
    }
}